<configuration>
  <configSections>
    <section name="rhino.esb" type="Rhino.ServiceBus.Config.BusConfigurationSection, Rhino.ServiceBus"/>
  </configSections>
  <rhino.esb>
       <bus threadCount="1"
           numberOfRetries="5"
           loadBalancerEndpoint="msmq://localhost/test_queue.acceptingWork"
           endpoint="msmq://localhost/test_queue"/>
      <messages>
        <add name="Rhino.ServiceBus.Tests"
             endpoint="msmq://localhost/test_queue"/>
      </messages>
  </rhino.esb>
</configuration>