<castle>
	<facilities>
		<facility id="rhino.esb" >
			<bus threadCount="1"
					 numberOfRetries="5"
					 endpoint="msmq://localhost/dht_test.replication"
             />
			<messages>
			
			</messages>
			<security>
				<key>f/gdDWbDqHRvpqdRbTs3mxhGdZh9qCaDrasxJGXl+5s=</key>
			</security>
		</facility>
	</facilities>
	<components>
		<component id="dht">
			<parameters>
				<url>net.tcp://localhost:8129/dht</url>
				<database>cache1.esent</database>
				<metadata>
					<node>
						<primary>
							<sync>net.tcp://localhost:8128/dht.metadata</sync>
						</primary>
					</node>
				</metadata>
			</parameters>
		</component>
		<component id="dht.metadata">
			<parameters>
				<url>net.tcp://localhost:8128/dht.metadata</url>
				<network>
					<parameters>
						<nodes>
							<node>
								<name>first</name>
								<sync>net.tcp://localhost:8129/dht</sync>
								<async>msmq://localhost/dht_test.replication</async>
								<secondary>second</secondary>
								<tertiary>third</tertiary>
							</node>
							<node>
								<name>second</name>
								<sync>net.tcp://localhost:8121/dht</sync>
								<async>msmq://localhost/dht_test.replication2</async>
								<secondary>third</secondary>
								<tertiary>first</tertiary>
							</node>
							<node>
								<name>third</name>
								<sync>net.tcp://localhost:8122/dht</sync>
								<async>msmq://localhost/dht_test.replication3</async>
								<secondary>first</secondary>
								<tertiary>second</tertiary>
							</node>
						</nodes>
					</parameters>
				</network>
			</parameters>
		</component>
	</components>
</castle>