<castle>
  <facilities>
    <facility id="rhino.esb" >
      <bus threadCount="1"
           numberOfRetries="5"
           endpoint="msmq://localhost/test_queue2"
             />
      <messages>
        <add name="Rhino.ServiceBus.Tests"
             endpoint="msmq://localhost/test_queue"/>
        <add name="Rhino.ServiceBus.Tests"
             endpoint="msmq://localhost/test_queue2"/>
      </messages>
      <security>
        <key>f/gdDWbDqHRvpqdRbTs3mxhGdZh9qCaDrasxJGXl+5s=</key>
      </security>
    </facility>
  </facilities>
</castle>