<castle>
  <facilities>
    <facility id="rhino.esb" >
      <bus threadCount="1"
           numberOfRetries="5"
           endpoint="msmq://localhost/transactional_test_queue"
             />
      <messages>
        <add name="Rhino.ServiceBus.Tests"
             endpoint="msmq://localhost/transactional_test_queue"/>
      </messages>
    </facility>
  </facilities>
</castle>