<castle>
  <facilities>
    <facility id="rhino.esb" >
      <bus threadCount="1"
           numberOfRetries="5"
           logEndpoint="msmq://localhost/test_queue2"
           endpoint="msmq://localhost/test_queue"/>
      <messages>
        <add name="Rhino.ServiceBus.Tests"
             endpoint="msmq://localhost/test_queue"/>
      </messages>
    </facility>
  </facilities>
</castle>