<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="castle"
						 type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
	</configSections>

	<castle>
		<facilities>
			<facility id="rhino.esb" >
				<bus threadCount="1"
						 numberOfRetries="5"
						 endpoint="msmq://localhost/test_dht_queue"
             />
				<messages>
				</messages>
			</facility>
		</facilities>
		<components>
			<component id="dht">
				<parameters>
					<url>net.tcp://localhost:8129/dht</url>
					<database>cache.esent</database>
					<metadata>
						<node>
							<primary>
								<sync>net.tcp://localhost:8128/dht.metadata</sync>
							</primary>
						</node>
					</metadata>
				</parameters>
			</component>
			<component id="dht.metadata">
				<parameters>
					<url>net.tcp://localhost:8128/dht.metadata</url>
					<network>
						<parameters>
							<nodes>
								<node>
									<name>first</name>
									<sync>net.tcp://localhost:8129/dht</sync>
								</node>
							</nodes>
						</parameters>
					</network>
				</parameters>
			</component>
		</components>
	</castle>
</configuration>