<castle>
	<facilities>
		<facility id="rhino.esb" >
			<bus threadCount="1"
           numberOfRetries="5"
           endpoint="msmq://localhost/init_test"
             />
			<messages>
				<add name="Rhino.ServiceBus.Tests"
             endpoint="msmq://localhost/init_test"/>				
			</messages>			
		</facility>
	</facilities>
</castle>