<configuration>
  <configSections>
    <section name="rhino.esb" type="Rhino.ServiceBus.Config.BusConfigurationSection, Rhino.ServiceBus"/>
  </configSections>
  <rhino.esb>
      <loadBalancer threadCount="1"
                  endpoint="msmq://localhost/test.balancer"
                  readyForWorkEndpoint="msmq://localhost/test.balancer.acceptingwork" />
  </rhino.esb>
</configuration>