<configuration>
  <configSections>
    <section name="rhino.esb" type="Rhino.ServiceBus.Config.BusConfigurationSection, Rhino.ServiceBus"/>
  </configSections>
  <rhino.esb>
    <assemblies>
      <add assembly="Rhino.ServiceBus.RhinoQueues" />
    </assemblies>
       <messages>
        <add name="System.String"
             endpoint="rhino.queues://localhost/test_queue"/>
      </messages>
  </rhino.esb>
</configuration>