<castle>
  <facilities>
    <facility id="rhino.esb" >
      <bus name="test_queue" 
           threadCount="1"
           numberOfRetries="5"
           endpoint="rhino.queues://localhost/test_queue"
           queueIsolationLevel="ReadCommitted" />
      <messages>
        <add name="Rhino.ServiceBus.Tests"
             endpoint="rhino.queues://localhost/test_queue"/>        
      </messages>
    </facility>
    <facility id="one.way.rhino.esb" >
      <messages>
        <add name="System.String"
             endpoint="rhino.queues://localhost/test_queue"/>
      </messages>
    </facility>
  </facilities>
</castle>