<configuration>
  <configSections>
    <section name="rhino.esb" type="Rhino.ServiceBus.Config.BusConfigurationSection, Rhino.ServiceBus"/>
  </configSections>
  <rhino.esb>
       <bus name="test_queue" 
           threadCount="1"
           numberOfRetries="5"
           endpoint="rhino.queues://localhost/test_queue"
           queueIsolationLevel="ReadCommitted" />
      <messages>
        <add name="Rhino.ServiceBus.Tests"
             endpoint="rhino.queues://localhost/test_queue"/>        
      </messages>
  </rhino.esb>
</configuration>