<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle"
             type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <castle>
    <facilities>
      <facility id="rhino.esb" >
        <bus threadCount="1"
             numberOfRetries="5"
             endpoint="msmq://173.1.102.245/test_queue"
             >
        <messages>
          <add name="Rhino.ServiceBus.Tests"
               endpoint="msmq://localhost/test_queue"/>
          <add name="Rhino.ServiceBus.Tests"
               endpoint="msmq://localhost/test_queue2"/>
        </messages>
      </facility>
    </facilities>
		<components>
			<component id="dht">
				<parameters>
					<metadata>
						<node>
							<primary>
								<sync>net.tcp://localhost:8128/dht.metadata</sync>
							</primary>
							<secondary>
								<sync>net.tcp://localhost:8129/dht.metadata</sync>
							</secondary>
							<tertiary>
								<sync>net.tcp://localhost:8127/dht.metadata</sync>
							</tertiary>
						</node>
					</metadata>
				</parameters>
			</component>
		</components>
  </castle>
</configuration>